<form action = "/names" method = "POST">
  <label for="Player one name">Player One Name:</label>
        <input type="text" name="Player One" value="Player one name here">
        <input type="submit" value="submit">
  <label for="Player two name">Player two Name:</label>
        <input type="text" name="Player Two" value="Player Two name here">
        <input type="submit" value="submit">
</form>
