<form action='/name_entry_1_player' method='GET'>
  <input type='submit' value='Play against computer'>
</form>

<form action='/name_entry_2_players' method='GET'>
  <input type='submit' value='Play 2-player game'>
</form>
