<form action = "/names" method = "POST">
  <label for="Player one name">Player One Name:</label>
        <input type="text" name="player_one_name">
  <label for="Player two name">Player two Name:</label>
        <input type="text" name="player_two_name">
        <input type="submit" value="Submit">
</form>
