<form action = "/names_1p" method = "POST">
  <label for="Player one name">Player One Name:</label>
        <input type="text" name="player_one_name">
        <input type="submit" value="Submit">
</form>
